name: Build and Publish Jupyter Book

on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install jupyter-book

    - name: Build Jupyter Book
      run: |
        jupyter-book build docs/libro

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: site
        path: docs/libro/_build/html

  deploy:
    runs-on: ubuntu-latest
    needs: build

    permissions:
      pages: write
      id-token: write
      contents: write

    steps:
    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: site
        path: ./site

    - name: Deploy to GitHub Pages
      uses: actions/upload-pages-artifact@v2
      with:
        path: ./site

    - name: Publish
      uses: actions/deploy-pages@v2
